<body>
<footer class="footer">
    <div class="footer-container">
        <nav class="footer-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="storia.html">La nostra storia</a></li>
                <li><a href="servizi.html">Servizi offerti</a></li>
                <li><a href="flotta.html">Flotta</a></li>
                <li><a href="contattaci.html">Contatti</a></li>
            </ul>
        </nav>

        <div class="footer-contacts">
            <div class="email">
                <a href="mailto:info@andreolli.it">info@andreolli.it</a>
            </div>
            <div class="phone">
                <div><a href="tel:00393451214877">Gaia: 0039 3451214877</a></div>
                <div><a href="tel:00393486004246">Paolo: 0039 3486004246</a></div>
            </div>
            <div class="footer-social">
                <a href="https://www.instagram.com/autoservizi_andreolli_srl" target="_blank">
                    <img src="../PNG/Instagram.png" alt="Instagram icon">
                </a>
            </div>
        </div>
    </div>

    <div class="footer-logo">
        <img src="../SVG/logo ridotto-Autoservizi-Andreolli.svg" alt="Logo Andreolli">
    </div>

    <p class="footer-copyright">© 2025 Autoservizi Andreolli s.r.l.</p>
    <p class="footer-copyright">Website design & UX/UI by <a href="https://andreollidesign-dot.github.io/progetto-sito-personale/" class="designer-link" target="_blank" rel="noopener noreferrer">
        Greta Andreolli
    </a>
    </p>
</footer>

</body>
